@using ZcrlPortal.Models
@model List<LogRecord>
@{
    bool isSuccess = false;
    string listControllerName = "Log";
    string listActionName = ViewBag.ActionName;
    LogRecordType recTypeToDelete = ViewBag.RecordsToDelete;

    if (TempData["SuccessMessage"] != null && (!string.IsNullOrWhiteSpace((string)TempData["SuccessMessage"])))
    {
        isSuccess = true;
    }

    int maxPageNumber = ViewBag.MaxPageNumber;
    int currentPage = 0;
    if (ViewBag.page == null)
    {
        currentPage = 1;
    }
    else
    {
        currentPage = ViewBag.page;
    }

    ViewBag.Title = "Журнал подій";
    Layout = "~/Views/Shared/_main.cshtml";
}

<div class="accountDataContainer">
    @if (isSuccess)
    {
        <div class="successMessage">@TempData["SuccessMessage"]</div><br />
    }
    <br />
    @if (User.IsInRole("Administrators"))
    {
        <a href="@Url.Action("Delete", "Log", new { recordsGroup = recTypeToDelete })" class="addButton" onclick="return confirm('Вы впевнені, що хочете очистити журнал?')">Очистити журнал</a>
    }
    <table>
        <tr>
            <th style="width: 20%">Дата</th>
            <th style="width: 80%">Подія</th>
        </tr>
        @if (Model.Count == 0)
        {
            <tr><td colspan="2" style="text-align: center;"><i>Журнал не має записів</i></td></tr>
        }
        @for (int i = 0, k = ((currentPage - 1) * Model.Count); i < Model.Count; i++, k++)
        {
            <tr>
                <td>@Model[i].СreatedDate</td>
                <td>@MvcHtmlString.Create(Model[i].Content)</td>
            </tr>
        }
    </table>

    <!-- Pager here -->
    @if (maxPageNumber > 1)
    {
        <ul class="pager">
            @if (currentPage > 1)
            {
                <li><a href="@Url.Action(listActionName, listControllerName, new { page = currentPage - 1 })">Попередня</a></li>
            }
            @if (maxPageNumber > 11)
            {
                if (currentPage <= 5)
                {
                    for (int i = 1; i <= 7; i++)
                    {
                        if (currentPage == i)
                        {
                            <li><a class="currentPage">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action(listActionName, listControllerName, new { page = i })">@i</a></li>
                        }
                    }
                    <li> ... </li>
                    for (int i = maxPageNumber - 2; i <= maxPageNumber; i++)
                    {
                        <li><a href="@Url.Action(listActionName, listControllerName, new { page = i })">@i</a></li>
                    }
                }
                if ((currentPage > 5) && (maxPageNumber - currentPage > 4))
                {
                    <li><a href="@Url.Action(listActionName, listControllerName, new { page = 1 })">1</a></li>
                    <li><a href="@Url.Action(listActionName, listControllerName, new { page = 2 })">2</a></li>
                    <li><a href="@Url.Action(listActionName, listControllerName, new { page = 3 })">3</a></li>
                    <li> ... </li>
                    for (int i = currentPage - 1; i <= (currentPage + 1); i++)
                    {
                        if (currentPage == i)
                        {
                            <li><a class="currentPage">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action(listActionName, listControllerName, new { page = i })">@i</a></li>
                        }
                    }
                    <li> ... </li>
                    <li><a href="@Url.Action(listActionName, listControllerName, new { page = maxPageNumber - 2 })">@(maxPageNumber - 2)</a></li>
                    <li><a href="@Url.Action(listActionName, listControllerName, new { page = maxPageNumber - 1 })">@(maxPageNumber - 1)</a></li>
                    <li><a href="@Url.Action(listActionName, listControllerName, new { page = maxPageNumber })">@(maxPageNumber)</a></li>
                }
                if ((maxPageNumber - currentPage) <= 4)
                {
                    if (currentPage == maxPageNumber)
                    {
                        for (int i = 1; i <= 7; i++)
                        {
                            <li><a href="@Url.Action(listActionName, listControllerName, new { page = i })">@i</a></li>
                        }
                        <li> ... </li>
                        <li><a href="@Url.Action(listActionName, listControllerName, new { page = maxPageNumber - 2 })">@(maxPageNumber - 2)</a></li>
                        <li><a href="@Url.Action(listActionName, listControllerName, new { page = maxPageNumber - 1 })">@(maxPageNumber - 1)</a></li>
                        <li><a class="currentPage">@currentPage</a></li>
                    }
                    else
                    {
                        for (int i = 1; i < (11 - (maxPageNumber - currentPage + 2)); i++)
                        {
                            <li><a href="@Url.Action(listActionName, listControllerName, new { page = i })">@i</a></li>
                        }
                        <li> ... </li>
                        for (int i = currentPage - 1; i <= maxPageNumber; i++)
                        {
                            if (currentPage == i)
                            {
                                <li><a class="currentPage">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action(listActionName, listControllerName, new { page = i })">@i</a></li>
                            }
                        }
                    }
                }
            }
            else
            {
                for (int i = 1; i <= maxPageNumber; i++)
                {
                    if (currentPage == i)
                    {
                        <li><a class="currentPage">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action(listActionName, listControllerName, new { page = i })">@i</a></li>
                    }
                }
            }
            @if (currentPage < maxPageNumber)
            {
                <li><a href="@Url.Action(listActionName, listControllerName, new { page = currentPage + 1 })">Наступна</a></li>
            }
        </ul>
    }
    <br /><br />
</div>
